:root
{
    --theme-orange: #F98945;
    --theme-hover-orange: #fb9857;
    --theme-black: #212529;
    --theme-grey: #f7f7f7;
    --theme-dark-grey: #fafafa4d;
    --theme-text: #d1cece;
    --theme-white: #fffffff6;
    --theme-blue: #007bfff3;
    --theme-hover-blue: #036ddf;
    --theme-purple: #20232e;
}
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body
{
    font-family: "Roboto", sans-serif;
    position: relative;
    height: 100%;
}
.container
{
    max-width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
a
{
    text-decoration: none;
    display: block;
    color: inherit;
}
img
{
    width: 100%;
    display: block;
}
ul
{
    list-style: none;
    display: flex;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
.col-4
{
    width: 33.33%;
}
.col-6
{
    width: 50%;
}
.col-8
{
    width: 66.66%;
}
.col-12
{
    width: 100%;
}

/* Navigation Starts  */
header
{
    background-color: var(--theme-grey);
    color: var(--theme-white);
    position: sticky;
    top: 0;
    z-index: 999;
    height: 100%;
    width: 100%;
}
.navbar
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--theme-grey);
    padding: 1rem 2rem;
    color: var(--theme-white);
    position: relative;
}
.logo h2
{
    font-size: 21px;
    font-weight: 900;
    color: var(--theme-black);
    text-transform: uppercase;
}
.logo h2 em
{
    font-style: normal;
    font-size: 30px;
    color: var(--theme-orange);
}
.nav-toggle-label
{
    display: flex;
    cursor: pointer;
}
.navbar ul
{
    list-style: none;
    display: flex;
    /* width: 100%; */
    /* padding: 1rem 0; */
}
.navbar ul li a
{
    margin: .5rem 0;
    text-align: center;
}
.navbar ul li a
{
    font-size: 14px;
    font-weight: 900;
    padding: 15px;
    color: var(--theme-black);
    text-transform: uppercase;
    transition: all .2s ease;
}
.navbar ul li a:hover
{
    color: var(--theme-orange);
    font-weight: 900px;
}
.nav-toggle-label span,
.nav-toggle-label span::before
.nav-toggle-label span::after
{
    content: '';
    display: block;
    padding: 3px 25px;
    position: relative;
}
.nav-toggle-label span::before
{
    position: absolute;
    top: -8px;
}
.nav-toggle-label span::after
{
    position: absolute;
    top: 8px;
}
.nav-toggle:checked + .nav-toggle-label + ul
{
    display: flex;
}
/* Navigation Ends */


/* Hero's Section Starts */
.swiper {
    width: 100%;
}

.swiper-slide {
    font-size: 18px;
    background: var(--theme-white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.hero img
{
    margin: 10px;
}
.swiper-button-next , .swiper-button-prev
{
    /* padding: 15px; */
    /* background-color: #fafafa4d; */
    margin: 0 30px;
}
.swiper-button-next::after , .swiper-button-prev::after {
    /* background-color: var(--theme-grey); */
    content: '';
    border-radius: 8px;
    padding: 15px;
    color: var(--theme-white);
    background-color: var(--theme-dark-grey);
    text-align: center;
}
.swiper-slide .item
{
    position: relative;
}
.swiper-slide .img-main-content
{
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.swiper-slide .img-main-content span
{
    color: var(--theme-orange);
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.swiper-slide .img-main-content h4
{
    color: var(--theme-white);
    font-size: 24px;
    letter-spacing: 1px;
    margin: 30px 0;
}
.swiper-slide .img-main-content ul li 
{
    color: var(--theme-white);
    font-size: 14px;
    font-weight: bold;
    transition: all .3s ease;
}
.swiper-slide .img-main-content ul li:hover
{
    color: var(--theme-orange);
}
.swiper-slide .img-main-content ul li a::after,
.all-blog-post .blog-content .first-ul li a::after
{
    content: '|';
    margin: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
.swiper-slide .img-main-content ul li .last-li::after,
.all-blog-post .blog-content .first-ul li .last-li::after
{
    content: '';
    margin: 0 10px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5; 
}

.swiper-slide .img-main-content ul li a::after:hover,
.all-blog-post .blog-content .first-ul li a::after:hover
{
    color: var(--theme-white);
}
.swiper-slide .item
{
    text-align: center;
}
.swiper-slide .img-main-content
{
    text-align: left;
}
.swiper-slide .img-main-content ul
{
    justify-content: flex-start;
}
/* Hero's Section Ends  */

/* Call To Action Section Starts */
.call-to-action .main-content
{
    background-image: url(../assets/images/call-to-action-bg-image.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
    padding: 40px;
}
.call-to-action .row
{
    display: flex;
    align-items: center;
}
.call-to-action .main-content .col-8
{
    padding: 0 20px;
}
.call-to-action .col-8 span
{
    font-size: 18px;
    font-weight: bold;
    color: var(--theme-orange);
}
.call-to-action .col-8 h4
{
    font-size: 26px;
    font-weight: bold;
    margin-top: 22px;
    color: var(--theme-white);
}
.call-to-action .col-4
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;
}
.call-to-action .col-4 .main-button
{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 20px;
    background-color: var(--theme-orange);
    color: var(--theme-white);
    transition: all .3s ease;
}
.call-to-action .col-4 .main-button:hover
{
    background-color: var(--theme-hover-orange);
}

.call-to-action .main-content .col-4
{
    display: flex;
    justify-content: flex-end;
    padding: 20px 15px;
}
/* Call To Action Section Ends */

/* Blog Post Section Starts */
.blog-post
{
    margin-top: 100px;
}
.blog-post .col-12
{
    margin-top: 30px;
}
.blog-head
{
    overflow: hidden;
}
.blog-content
{
    padding: 40px;
    border-right: 1px solid var(--theme-text);
    border-left: 1px solid var(--theme-text);
    border-bottom: 1px solid var(--theme-text);
}
.blog-content span
{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: .5px;
    letter-spacing: .5px;
    color: var(--theme-orange);
}
.blog-content a h4
{
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
    color: var(--theme-black);
    margin: 10px 0;
}
.all-blog-post .blog-content ul li a,
.all-blog-post .blog-content ul li a::after
{
    color: var(--theme-text);
}
.blog-content p
{
    font-size: 15px;
    font-weight: 400;
    color: var(--theme-text);
    padding: 25px 0;
    margin: 25px 0;
    border-top: 1px solid var(--theme-text);
    border-bottom: 1px solid var(--theme-text);
    line-height: 30px;
}
.blog-content p a
{
    color: var(--theme-blue);
    display: inline-block;
    transition: all .3s ease;
}
.blog-content p a:hover
{
    color: var(--theme-hover-blue);
    font-weight: 500;
}
.blog-footer .post-share
{
    display: flex;
    justify-content: flex-end;
}
.blog-footer ul li .fa 
{
    color: var(--theme-orange);
    margin-right: 10px;
}
.blog-footer ul li a
{
    font-size: 14px;
    font-weight: 500;
    transition: all .3s ease-in;
}
.blog-footer ul li a:hover
{
    color: var(--theme-orange);
}
.blog-footer .last-ul
{
    display: flex;
    justify-content: end;
}
.blog-post .all-blog-post .main-button a
{
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    background-color: var(--theme-orange);
    color: var(--theme-white);
    display: inline-block;
    padding: 20px 0;
    text-transform: uppercase;
    text-align: center;
    transition: all .3s ease;
}
.blog-post .all-blog-post .main-button a:hover,
.call-to-action .col-4 .main-button:hover
{
    opacity: .8;
}
/* Blog Post Section ends */

/* Sidebar Section Starts */
.sidebar
{
    margin-left: 30px;
}
.sidebar .search-bar #search-input
{
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    padding: 15px 20px;
    color: var(--theme-text);
    outline: none;
    border: 1px solid var(--theme-text);
    text-transform: uppercase;
}
.sidebar-items
{
    margin-top: 50px;
}
.sidebar-items .sidebar-heading h3,
.sidebar .sidebar-catgories .sidebar-heading h3,
.sidebar .sidebar-item-tag .sidebar-heading h3
{
    font-size: 18px;
    font-weight: 900;
    color: var(--theme-black);
    text-transform: uppercase;
    padding: 0 0 20px 0;
    margin: 0 0 30px 0;
    letter-spacing: .5px;
    border-bottom: 1px solid var(--theme-text);
}

.sidebar .sidebar-items .sidebar-content ul
{
    display: flex;
    flex-wrap: wrap;
}
.sidebar .sidebar-items .sidebar-content ul li
{
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--theme-text);
}
.sidebar .sidebar-items .sidebar-content ul li:last-child
{
    border: none;
}
.sidebar .sidebar-items .sidebar-content ul li a h5
{    
    font-size: 18px;
    font-weight: 900;
    color: var(--theme-black);
    letter-spacing: .5px;
    margin: 0 0 8px 0;
    transition: all .3s ease;
}
.sidebar .sidebar-items .sidebar-content ul li a span
{
    font-size: 14px;
    color: var(--theme-text);
}
.sidebar .sidebar-catgories .sidebar-content ul
{
    display: flex;
    flex-direction: column;
}
.sidebar .sidebar-catgories .sidebar-content ul li
{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    color: var(--theme-black);
    transition: all .3s ease;
}
.sidebar .sidebar-catgories .sidebar-content ul li:hover,
.sidebar .sidebar-items .sidebar-content ul li a h5:hover
{
    color: var(--theme-orange);
}

.sidebar .sidebar-item-tag .sidebar-content ul 
{
    margin: 0 0 20px 0;
}
.sidebar .sidebar-item-tag .sidebar-content ul li
{
    margin: 0 20px 0 0;
}
.sidebar .sidebar-item-tag .sidebar-content ul li a
{
    font-size: 15px;
    font-weight: bold;
    color: var(--theme-text);
    border: 1px solid var(--theme-text);
    padding: 10px 18px;
    display: inline-block;
    transition: all .3s ease;
}
.sidebar .sidebar-item-tag .sidebar-content ul li a:hover
{
    background-color: var(--theme-orange);
    color: var(--theme-white);
}
.sidebar .col-12 .main-button a
{
    transition: all .3s ease;
}
.sidebar .col-12 .main-button a:hover
{
    opacity: .9;
}
/* Sidebar Section Ends */

/* Footer Starts */
footer
{
    margin-top: 100px;
    text-align: center;
    background-color: var(--theme-purple);
    padding: 60px 0;
}
footer .col-12 .social-icons ul
{
    padding: 0 0 60px 0;
    margin: 0 0 60px 0;
    border-bottom: 1px solid var(--theme-text);
}
footer .col-12 ul
{
    display: flex;
    justify-content: center;
}
footer .social-icons ul li
{
    margin-right: 30px;
}
footer .col-12 .social-icons ul li a
{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--theme-white);
    transition: all .3s ease;
}
footer .col-12 .social-icons ul li a::after
{
    content: '|';
    margin-left: 30px;
    color: var(--theme-white);
}
footer .col-12 .social-icons li:last-child a::after
{
    content: '';
}
footer .col-12 .social-icons li a:hover
{
    color: var(--theme-orange);
}
footer .col-12 .copyright-text
{
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 13px;
}
footer .col-12 .copyright-text p
{
    /* font-size: 14px; */
    font-weight: 400;
    color: var(--theme-white);
}
footer .col-12 .copyright-text a
{
    /* font-size: 14px; */
    font-weight: 400;
    color: var(--theme-orange);
    margin-left: 5px;
}
/* Footer Ends */
